
@{
    ViewBag.Title = "Filter VAT Tax";
}

<div class="portlet box grey" style="border:1px solid #E5E5E5;">
    <div class="portlet-title">
        <div class="caption">
            @ViewBag.Title
        </div>
    </div>
    <div class="portlet-body form">
        <form action="@Url.Action("FilterVat","Report")" method="post" class="horizontal-form">
            <div class="form-body">
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input type="date" class="form-control" name="FromDate" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <input type="date" class="form-control" name="ToDate" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-actions left">
                <button type="submit" class="btn default blue-stripe"> Filter</button>
            </div>
        </form>
    </div>
</div>
